<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
     
    <!-- 별명 -->
    <typeAliases>
        <typeAlias alias="hashMap" type="java.util.HashMap" />
        <typeAlias alias="String" type="java.lang.String" />
        <typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="Double" type="java.lang.Double" />
		
		<typeAlias alias="UserVo" type="com.vos.web.UserVo" />
		<typeAlias alias="CharacterVo" type="com.vos.web.CharacterVo" />
		<typeAlias alias="ManagecodeVo" type="com.vos.web.ManagecodeVo" />
		<typeAlias alias="ManagementVo" type="com.vos.web.ManagementVo" />
		<typeAlias alias="ManagementTimerVo" type="com.vos.web.ManagementTimerVo" />
		<typeAlias alias="CommoncodeVo" type="com.vos.web.CommoncodeVo" />
    </typeAliases>
  
</configuration>